/*-----------------------Interfaces de Usuario-------------------------*/
/*---------------------Angel Luis Alonso Blazquez----------------------*/
/*---------------------Kevin Santiago Diaz Delgado---------------------*/
/*------------------------Marcos Arroyo Ruiz---------------------------*/
/*--------------------100363923|100363919|100293563--------------------*/

a, p, h3, option, select{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ul, li{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    list-style-type: none;
}

h3{
    margin-bottom: 0%;
    cursor: pointer;
}

h4{
    font-family: 'Poppins', sans-serif;
    color: #3b3b3b;
}

h5{
    color: rgb(0, 0, 0);
}

h5:hover, h3:hover{
    color: rgb(85, 85, 85);
}

body{
    min-width: 840px;
}

input{
    float: left;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border-width: thin;
    border-color: rgba(85, 85, 85, 0.25);
    border-radius: 5px;
    margin-left: 1%;
}

button{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 5px;
    border-width: thin;
    border-color: rgba(85, 85, 85, 0.25);
    border-radius: 5px;
    background-color: rgb(113, 135, 233);
    cursor: pointer;
}

button:hover{
    color: rgb(39, 39, 39);
    background-color: rgb(162, 174, 226);
}

fieldset{
    border: none;
}

/* Header */

header{
    margin-left: 2%;
}

#logo{
    z-index: 2;
    position: fixed;
    top: 2%;
    width: 233px;
    height: 70px;
    float: left;
}

.headMenu {
    display: flex;
    position: fixed;
    z-index: 2;
    top: 4%;
    right: 3%;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    list-style-type: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgba(85, 85, 85, 0.25);
    background-color: rgb(252, 252, 252);
}

.headMenuOptions, .headMenuOptions2 {
    float: left;
    text-align: center;
    padding-right: 15px;
}

.headMenuOptions{
    cursor: pointer;
}

.headMenuOptions:hover{
    color: rgb(85, 85, 85);
}

.headMenuOptions2{
    cursor: context-menu;
}

.downMenu{
    display: none;
    float: left;
    padding-left: 0.75%;
    padding-right: 2.5%;
    list-style-type: none;
}

#menuIcon{
    display: none;
}

#box{
    position: fixed;
    top: 0;
    height: 150px;
    width: 100%;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}

.pSecondary{
    color: gray;
    font-size: 1em;
    margin-left: 1%;
    margin-top: 0%;
    cursor: pointer;
    text-align: center;
}

/* Browser */

#browser{
    position: fixed;
    z-index: 1;
    top: 100px;
    width: 100%;
    margin-left: 2%;
}

.inputD{
    padding: 4.2px;
}

.inputN{
    width: 40px;
}

.icon{
    display: block;
    float: left;
    width: 27px;
    margin-top: 2px;
    margin-left: 0.5%;
    opacity: 0.9;
}

#search{
    margin-left: 2%;
}

/* Main content */

#mainContent{
    margin-top: 150px;
    text-align: center;
    margin-left: 20%;
    width: 60%;
}

.help-q{
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
}

.help-q:hover{
    color: #3b3b3b;
}

.help-a{
    display: none;
}

.blackButton{
    background-color: rgb(128, 1, 1);
}

.blackButton:hover{
    color: white;
    background-color: rgb(253, 0, 0);
}

/* Phone Menu */

#phoneMenu{
    display: 'none';
}

/*Pie de pagina*/

#piedepag{
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    color: black;
}

#iconos{
    justify-content: center;
    display: flex;
}
.bright{
    border-right: black ridge;
    padding-right: 2px;
    padding-left: 2px;
    
}

#bright{
    padding-right: 2px;
    padding-left: 2px;
}

/***************************Versión Tablet****************************/

@media only screen and (max-width:768px){

    body{
        min-width: 0;
    }

    /* Header */
    #browser{
        position: relative;
        margin-bottom: 1%;
        z-index: 0;
    }

    #box{
        position: fixed;
        top: 0;
        height: 100px;
        width: 100%;
        z-index: 1;
        background-color: rgb(255, 255, 255);
    }

    #search, .inputD, .inputN, .inputAll, #location, header, #browser{
        margin-left: 0%;
    }

    #menuIcon, .icon{
        display: none;
    }

    /* Browser */

    #results-container{
        display: block;
        padding-bottom: 2%;
    }
    
    .results{
        width: 50%;
        margin: auto;
    }

    /* Main Content */

    button{
        width: 100%;
	}
		
	.inputD, .inputN, .inputAll, #location{
		width: 98%;
		margin-bottom: 3%;
		float:left;
    }
    
    .optionMenu{
        width: 100%;
    }

    img{
        width: 60%;
    }

    #patron{
        margin-top: 16%;
        margin-bottom: 0%;
        margin-left: 5%;
    }

    .result-title{
        margin-top: 1%;
    }

    /* Main Content */

    #mainContent{
        margin-top: 100px;
    }

    /* Phone Menu */

    #phoneMenu{
        display: 'none';
    }

}

/***************************Versión Móvil****************************/

@media only screen and (max-width:600px){

    #browser, .headMenu{
        display: none;
    }

    /* Header */

    #logo{
        width: 200px;
        height: 60px;
    }

    #menuIcon{
        display: block;
        width: 30px;
        height: 30px;
        float: right;
        z-index: 2;
        position: fixed;
        right: 15px;
        top: 25px;
        cursor: pointer;
    }

    /* Phone Menu */

    #phoneMenu{
        display: 'none';
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }

}

/***************************Pop-up****************************/

.popupNotVisible{
    display: none;
    opacity: 0;
    margin-top: 0px;
}

.popupVisible {
    display: block;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 999;
}

 #popup-container {
    position: relative;
    margin:7% auto;
    padding:35px 15px;
    min-height: 20%;
    background-color: #fffbfb;
    color: #111111;
    border-radius: 10px;
    width:50%;
}

 #popup-close {
    position: absolute;
    top:3px;
    right:3px;
    border-radius: 10px;
    background-color: rgb(113, 135, 233);
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color:#f9f8eb;
}

.popTitle{
    margin-left: 45%;
    margin-top: 2%;
    font-size: 1.5em;
}

.inputL{
    float: none;
    width: 95%;
}

#loginButton{
    width: 97%;
    margin: 5% 1%;
    margin-bottom: 0%;
}
 