/*-----------------------Interfaces de Usuario-------------------------*/
/*---------------------Angel Luis Alonso Blazquez----------------------*/
/*---------------------Kevin Santiago Diaz Delgado---------------------*/
/*------------------------Marcos Arroyo Ruiz---------------------------*/
/*--------------------100363923|100363919|100293563--------------------*/

a{
    font-family: 'Poppins', sans-serif;
    color: rgb(226, 226, 226);
    text-decoration: none;
}

h4, p{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h5{
    color: rgb(226, 226, 226);
}

h3{
    font-family: 'Poppins', sans-serif;
    color: rgb(22, 22, 22);
    margin-left: 1%;
}

h5:hover{
    color: rgb(85, 85, 85);
}

body{
    z-index: -1;
    background-image: url('https://www.viajejet.com/wp-content/viajes/Lugares-turisticos-de-Madrid-1440x810.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

input{
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border-width: thin;
    border-color: rgba(85, 85, 85, 0.25);
    border-radius: 5px;
    margin-left: 1%;
    margin-bottom: 2%;
}

button{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 5px;
    border-width: thin;
    border-color: rgba(85, 85, 85, 0.25);
    border-radius: 5px;
    background-color: rgb(113, 135, 233);
    cursor: pointer;
    width: 99%;
}

button:hover{
    color: rgb(39, 39, 39);
    background-color: rgb(162, 174, 226);
}

/* Header */

header{
    margin-left: 2%;
}

#logo{
    position: absolute;
    top: 2%;
    width: 233px;
    height: 70px;
    float: left;
    filter: invert(100%);
}

.headMenu {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 4%;
    right: 3%;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    list-style-type: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgba(85, 85, 85, 0.25);
}

.headMenuOptions, .headMenuOptions2 {
    float: left;
    text-align: center;
    padding-right: 15px;
}

.headMenuOptions{
    cursor: pointer;
}

.headMenuOptions:hover{
    color: rgb(85, 85, 85);
}

.headMenuOptions2{
    cursor: context-menu;
}

.downMenu{
    display: none;
    float: left;
    padding-left: 0.75%;
    padding-right: 2.5%;
    list-style-type: none;
}

#menuIcon{
    display: none;
}

/* Browser */

.inputD{
    padding: 4.2px;
}

.inputN{
    float: right;
}

.inputD, .inputN{
    width: 20%;
    margin-bottom: 3%;
}

#search{
    margin-left: 1%;
}

#location{
    width: 98%;
}

/* Main Content */

#mainContent{
    margin-top: 15%;
    width: 60%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(228, 228, 228, 0.7);
    border-style: solid;
    border-width: thin;
    border-color: rgba(85, 85, 85, 0.25);
}

/***************************Versión Tablet****************************/

@media only screen and (max-width:768px){
	
	/* Header */
	
	#menuIcon{
        display: none;
    }

	/* Browser */
	
	button{
		width: 100%;	
	}
		
	.inputD, .inputN{
		width: 98%;
		margin-bottom: 3%;
		float:left;
	}
	
	body{
		background-size: auto;
	}
}

/***************************Versión Móvil****************************/

@media only screen and (max-width:600px){
	
	/* Header */
	
	.headMenu{
        display: none;
    }
	
	#logo{
        width: 200px;
        height: 60px;
    }

    #menuIcon{
        display: block;
        width: 30px;
        height: 30px;
        float: right;
        z-index: 2;
        position: fixed;
        right: 15px;
        top: 25px;
        cursor: pointer;
    }
	
	#mainContent{
		margin-top: 24%;
	}
	
	#location {
    		width: 94%;
	}
	
	.inputD, .inputN {
    		width: 95%;
	}
}


/***************************Pop-up****************************/

.popupNotVisible{
    display: none;
    opacity: 0;
    margin-top: 0px;
}

.popupVisible {
    display: block;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 999;
}

 #popup-container {
    position: relative;
    margin:7% auto;
    padding:35px 15px;
    min-height: 20%;
    background-color: #fffbfb;
    color: #111111;
    border-radius: 10px;
    width:50%;
}

 #popup-close {
    position: absolute;
    top:3px;
    right:3px;
    border-radius: 10px;
    background-color: rgb(113, 135, 233);
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color:#f9f8eb;
}
/*
 #popup-img{
    width: 30%;
    height: 30%;
    margin: 15px;
    border-radius: 10px;
    float: left;
}*/

.popTitle{
    margin-left: 45%;
    margin-top: 2%;
    font-size: 1.5em;
}

.inputL{
    float: none;
    width: 95%;
}

#loginButton{
    width: 97%;
    margin: 5% 1%;
    margin-bottom: 0%;
}
 
